/* VARIABLES */

:root {
    --fontl: 2.8rem;
    --fontm: 2rem;
    --fonts: 1.5rem;
    --cprimary: #c5e2f0;
    --csecundary: #219EBC;
    --cdarck: #023047;
    --cimportant: #FFB703;
    --cbluebrand: #7292de;
    --cwhite: #ffffff;
    --cblack: #000000;
}


/* CSS INIT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}


/* UTILITIES */

.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textcenter {
    text-align: center;
}

.d-none {
    display: none;
}

.w-100 {
    width: 100%;
}


/* BODY */

body {
    display: grid;
    grid-template-rows: 5rem 1fr 4rem;
    height: 100vh;
    width: 100vw;
    background-color: var(--csecundary);
}


/* NAV */

.header {
    width: 100%;
    background-color: var(--cdarck);
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
    height: 100%;
}

.nav__brand {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav__brand img {
    height: 4rem;
}

.nav__brand h1 {
    font-size: var(--fontl);
    margin: 0;
    color: var(--cbluebrand);
}

.nav__items {
    display: flex;
    gap: 2rem;
}

.nav__link {
    padding: .5rem 1rem;
    font-size: var(--fonts);
    width: 15rem;
    border: 1px solid var(--cprimary);
    border-radius: .5rem;
    background: none;
    color: var(--cwhite);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__link--active {
    background-color: var(--cprimary);
    color: var(--cdarck);
}


/* MAIN CONTENT */

main>* {
    width: min(90vw, 80rem);
    margin: 0 auto;
    height: 90%;
    background-color: var(--cprimary);
    border-radius: 1rem;
}


/* FOOTER */

.footer {
    justify-content: flex-end;
    background-color: var(--cdarck);
    gap: 2rem;
    padding: 0 2.5rem;
}

.footer__item a {
    display: flex;
    background-color: var(--cprimary);
    gap: .5rem;
    font-size: var(--fonts);
    align-items: center;
    padding: .2rem .5rem;
    color: var(--cdarck);
    border-radius: .2rem;
    opacity: 1;
    /* Aquí hay que poner la transicion para el hover */
}

@media (max-width: 615px) {
    .nav__link {
        width: 7rem;
    }
    .nav__link span {
        display: none;
    }
}